    .button100 {
        background-color: #87CEEA;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    .title96 {
        margin-bottom: 3vw;
    }
    
    .slick {
        background-color: white;
        height: 13vw;
        width: 40vw;
        flex-direction: column;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -1.0vw;
        height: 100%;
        width: 100%;
    }
    
    .content {
        margin-bottom: -10.0vw;
    }
    
    .h41 {
        margin-top: 2.0vw;
    }
    
    .h42 {
        margin-top: 1.2vw;
    }
    
    .h43 {
        margin-top: 0.9vw;
    }
    
    .title96 {
        text-align: center;
        justify-content: center;
    }
    
    .p1 {
        font-size: 1.2vw;
        margin-right: 10.4vw;
        color: #808080;
    }
    
    .head1 {
        background-color: #f7f7f7;
        height: 120vh;
        width: 100%;
        padding-bottom: 2%;
    }
    
    .h11 {
        justify-content: center;
        align-items: center;
    }
    
    .dummy1 {
        background-color: #f7f7f7;
        padding: 1rem;
        margin: 1.2rem;
        justify-content: center;
    }
    
    .group {
        padding-top: 2%;
        padding-bottom: 5%;
        margin-bottom: 2%;
    }
    
    .im1 {
        position: absolute;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-bottom: 13.0vw;
    }
    
    .p78 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.0vw;
    }
    
    .p88 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.0vw;
    }
    
    .p96 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.0vw;
    }
    
    .last691 {
        margin-top: 5vw;
        margin-right: 2vw;
    }
    
    @media screen and (max-width: 430px) {
        .button100 {
            background-color: #87CEEA;
            display: flex;
            flex-direction: column;
            height: 100vh;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
        .title96 h1 {
            font-size: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title96 p {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .head1 .main .group {
            display: block;
        }
        .head1 .main .group .dummy1 {
            padding: 3rem;
            margin: 1.2rem;
            justify-content: center;
            width: inherit;
        }
        .head1 {
            margin-bottom: 2%;
            height: 210vh;
            width: inherit;
        }
        .title96 {
            margin-bottom: 15.0vw;
        }
        .slick {
            background-color: white;
            height: 40vw;
            width: 60vw;
            flex-direction: column;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
        }
        .im1 {
            position: absolute;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-bottom: 40.0vw;
        }
        .p78 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.0vw;
        }
        .p88 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.0vw;
        }
        .p96 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.0vw;
        }
        .last691 {
            margin-top: 5vw;
            margin-right: 2vw;
        }
    }






























    