.header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 0px 40px;
  position: sticky;
  height         : 80px;
 
}

.logo-nav {
  display: flex;
  width: 90%;
  align-items: center;
}

.option{
text-decoration: none;
color:black;
}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-bottom: 16px;
}

.nav-options {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  margin-top: 30px;
  margin-right: -550px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 50px;
}



.mobile-option {
  display: none;
}
.option {
  color: white;
  text-decoration: none;
}
.menu-icon {
  display: hidden;
}
.mobile-menu {
  display: none;
}

.dragon{
  display:flex;
  float:left;
  margin-left: 43%;
  height: 4vh;
  margin-top:0;
  padding-top: 0px;
  margin-bottom:40px;
}

.dragon .cho{
  margin-left:2px;
  width:5rem;
  align-items: center;
}
.cho9{
  margin-left:4px;
  width:8rem;
  justify-content: center;
  align-items: center;
}

.header .logo-nav .dragon .cho9 span{

  padding-left:12px;
}

.header .logo-nav .dragon .cho span{
  padding-left:12px;
}

@media screen and (max-width: 430px) {
  /*Mobile View */
  .header {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
  }
  .logo {
    width: 35px;
    height: 35px;
  }
  .logo-nav {
    display: block;
    width: 90%;
    align-items: center;
  }
  .logo-container {
    justify-content: flex-end;
  }
  .nav-options {
    background-color: white;
    display: flex;
    width: 100%;
    height: 500px;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    margin-top: 2.0vw;
  }
  .nav-options.active {
    // background-color: black;
    height: 80vw;
    width:95vw;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
   background-color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    z-index: 1;  padding: 30px 0px;
  }

  .signin-up {
    display: none;
  }

  .mobile-menu {
    display: block;
  }


  .dragon {
    display: none;
  }
  
  .dragon .cho {
    display: none;
  }
  
  .cho9 {
    display: none;
  }
  
  .header .logo-nav .dragon .cho9 span {
    display: none;
  }
  
  .header .logo-nav .dragon .cho span {
    display: none;
  }

}